<header>
  <div class="profile-page">
    <nav class="navbar navbar-expand-lg fixed-top" color-on-scroll="400">
      <div class="container">
        <div class="navbar-translate">
          <a class="navbar-brand" href="#" rel="tooltip">{{ profile.name }}</a>
          <button
            class="navbar-toggler"
            type="button"
            aria-controls="navigation"
            [attr.aria-expanded]="menuOpen"
            aria-label="Toggle navigation"
            (click)="onToggleMenu($event)">
            <i class="fa menu-toggle-icon" [ngClass]="menuOpen ? 'fa-times' : 'fa-bars'"></i>
          </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" [class.show]="menuOpen" id="navigation">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link smooth-scroll" href="#about" (click)="onNavLinkClick()">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link smooth-scroll" href="#experience" (click)="onNavLinkClick()">Experience</a>
              </li>


            <li class="nav-item">
              <a class="nav-link smooth-scroll" href="#skill" (click)="onNavLinkClick()">Skillset</a>
            </li>

            <li class="nav-item">
              <a class="nav-link smooth-scroll" href="#education" (click)="onNavLinkClick()">Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link smooth-scroll" href="#projects" (click)="onNavLinkClick()">Personal Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link smooth-scroll" href="#experience-projects" (click)="onNavLinkClick()">Experience Highlights</a>
            </li>
            <li class="nav-item">
              <a class="nav-link smooth-scroll" href="#certification" (click)="onNavLinkClick()">Certifications</a>
            </li>
            <li class="nav-item">
              <a class="nav-link smooth-scroll" href="#contact" (click)="onNavLinkClick()">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="mobile-sidebar-backdrop" *ngIf="menuOpen" (click)="onNavLinkClick()"></div>
    <aside class="mobile-sidebar" [class.open]="menuOpen" aria-label="Mobile navigation">
      <a class="mobile-nav-link smooth-scroll" href="#about" (click)="onNavLinkClick()">About</a>
      <a class="mobile-nav-link smooth-scroll" href="#experience" (click)="onNavLinkClick()">Experience</a>
      <a class="mobile-nav-link smooth-scroll" href="#skill" (click)="onNavLinkClick()">Skillset</a>
      <a class="mobile-nav-link smooth-scroll" href="#education" (click)="onNavLinkClick()">Education</a>
      <a class="mobile-nav-link smooth-scroll" href="#projects" (click)="onNavLinkClick()">Personal Projects</a>
      <a class="mobile-nav-link smooth-scroll" href="#experience-projects" (click)="onNavLinkClick()">Experience Highlights</a>
      <a class="mobile-nav-link smooth-scroll" href="#certification" (click)="onNavLinkClick()">Certifications</a>
      <a class="mobile-nav-link smooth-scroll" href="#contact" (click)="onNavLinkClick()">Contact</a>
    </aside>
  </div>
</header>

