<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card" *ngFor="let item of education">
      <div class="row">
        <div class="col-md-3" appScrollReveal="left">
          <div class="card-body cc-education-header">
            <p>{{ item.period }}</p>
            <div class="h5">{{ item.level }}</div>
          </div>
        </div>
        <div class="col-md-9" appScrollReveal="right">
          <div class="card-body">
            <div class="h5">{{ item.program }}</div>
            <h4 class="category">{{ item.institution }}</h4>
            <ul>
              <li *ngFor="let detail of item.details">{{ detail }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

