<div class="section" id="certification">
  <div class="container">
    <div class="h4 text-center mb-4 title">Certifications</div>
    <div class="card certification-wrapper">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-12 mb-4 d-flex" *ngFor="let certification of certifications; let i = index">
            <div class="certification-card w-100" appScrollReveal="up">
              <div class="cert-media">
                <ng-container *ngIf="certification.image; else certificationFallback">
                  <img [src]="certification.image" [alt]="certification.title">
                </ng-container>
                <ng-template #certificationFallback>
                  <div class="certification-placeholder d-flex align-items-center justify-content-center">
                    <div class="text-center">
                      <i class="fa fa-certificate cert-placeholder-icon" aria-hidden="true"></i>
                      <p>Certificate image will be updated.</p>
                    </div>
                  </div>
                </ng-template>
              </div>
              <div class="cert-title">{{ certification.title }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

