<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>Hi I'm <strong>Nandu G Krishnan</strong>  .Currently I am Full-Stack Developer working as an Assistant System Engineer at TATA Consultancy Services, Chennai</p>
              <p>
                Lover of innovation and everything related to generate new knowledge.Face problems with a smile and solve them as soon as possible. Very calculated about the time I spend and work I do.
              </p> 
            </div>
            <div class="card-body">
                <div class="h4 mt-0 title">Career Objective</div>
                <p>
                    A Full Stack Developer familiar with a wide range of programming utilities and languages. Knowledgeable of back-end and front-end development requirements. Able to handle any part of the process with ease. Collaborative team player with excellent technical abilities
                </p> 
              </div>
            <div class="card-body">
                <div class="h4 mt-0 title">Basic Information</div>
                <div class="row">
                  <div class="col-sm-4">
                    <strong class="text-uppercase">Date of Birth:</strong>
                  </div>
                  <div class="col-sm-8">July 24, 1996</div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-4">
                    <strong class="text-uppercase">Email:</strong>
                  </div>
                  <div class="col-sm-8">nkrishnan931@gmail.com</div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-4">
                    <strong class="text-uppercase">Phone:</strong>
                  </div>
                  <div class="col-sm-8">+91 8547323416</div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-4">
                    <strong class="text-uppercase">Address:</strong>
                  </div>
                  <div class="col-sm-8">Mechettu House, Thrickodithanam, Changanacherry, Kottayam
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-4">
                    <strong class="text-uppercase">Language:</strong>
                  </div>
                  <div class="col-sm-8">English, Tamil, Malayalam</div>
                </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
                <div class="about-image">
                    <img class="about-pro-image" src="../../../assets/images/profullimage.jpg">
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>