<footer class="footer">
  <div class="container text-center text-muted">
    <div class="secondary-social" *ngIf="otherSocialLinks.length">
      <a
        class="secondary-social-link"
        *ngFor="let social of otherSocialLinks"
        [href]="social.url"
        target="_blank"
        [attr.aria-label]="social.platform"
        [title]="social.platform">
        <i class="fa" [ngClass]="social.icon"></i>
      </a>
    </div>
    <p>&copy; 2026 Nandu G Krishnan. All rights reserved.</p>
  </div>
</footer>

